layout {
        default_tab_template {
            pane size=1 borderless=true {
                plugin location="zellij:tab-bar"
            }
            children
            pane size=1 borderless=true {
                plugin location="zellij:status-bar"
            }
        }

        tab name="Tasks" focus=true split_direction="horizontal" {
            pane {
              command "taskwarrior-tui"
            }
        }
        tab name="Code" cwd="~/Devel/jhsf/stacks" {
            pane
        }
        tab name="Infra" cwd="~/Devel/jhsf/infra" {
            pane
        }
        tab name="Kube" cwd="~/Devel/jhsf/infra" {
            pane
        }
}
